.logo-style {
  width: 50px;
}
.nav-container {
  background-color: #f84b4b;
  padding: 5px 10px;
}
.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list-flex {
  display: flex;
  align-items: center;
}
.list-flex > li {
  list-style: none;
  padding-left: 25px;
  cursor: pointer;
}
.shopping-cart {
  margin-left: 20px;
  display: flex;
  position: relative;
}
.style-icon {
  font-size: 30px;
  cursor: pointer;
}
.count-item {
  color: white;
  position: absolute;
  left: 20px;
  bottom: 12px;
  background-color: black;
  padding: 5px 10px;
  border-radius: 55px;
}
