@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.slider-container {
  background-color: pink;
  margin: 0px 3%;
}
.heading-text {
  font-family: "Roboto", sans-serif;
  font-size: 3.4em;
  padding-right: 40px;
}
.flex-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
